<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Add Internet permission for API calls -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MovieManagerApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Moviemanager"
        tools:targetApi="31">

        <!-- Main Activity -->
        <activity
            android:name=".ui.theme.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Moviemanager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Search Movie Activity -->
        <activity
            android:name=".ui.theme.SearchMovieActivity"
            android:exported="false"
            android:theme="@style/Theme.Moviemanager" />

        <!-- Search Actor Activity -->
        <activity
            android:name=".ui.theme.SearchActorActivity"
            android:exported="false"
            android:theme="@style/Theme.Moviemanager" />

    </application>

</manifest>